.first{
    /* display: inline; */
    background-color: aquamarine;
}
.second{
    background-color: blueviolet;
}

/* IN inline element you do not apply height width bcz they do not effect the element */
span{
    /* if you want to make block level element so  */
    /* display: block; */
    /* display: inline-block;  now i can fix height or width also  */
    background-color: fuchsia;
    margin: 40px;
    /* vertical margin is not possible here only horizontal is available*/
}

