.container{
    display: flex;
    background-color: aqua;
    flex-direction: row;

/* to understand align self and  /* flex:[flex-grow][flex-shrink][flex-basis]; */  
    height: 600px;
    justify-content: center;
    align-items: center;
}
.box{
    height: 100px;
    width: 100px;
    border: 2px solid black; 
}

/* flex item */
/* order it defines the order of the element */
/* default order is zero */
/* flex grow applies on main axis it depend upon flex-direction */

.box1{
    background-color:yellow

}
.box2{
    background-color:red;
    /* flex-grow: 1; */



    /* flex-shrink: 5; */
    /* flex-basis: 300px; */


}
/* flex-shrink means shrink box too fast when you inspect */
/* flex basis means increase the width through main axis */

.box3{
    background-color:greenyellow;
    /* order: -1; */

    /* align-self:flex-start; */

    /* flex:[flex-grow][flex-shrink][flex-basis]; */


    flex:2 2 200px;

}

/* order:-1 means box 3 will come at first position */
/* align self works on cross axis */
.box4{
    background-color:blanchedalmond;
}