*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    background-color: rgb(167, 219, 219);

}

.container{
    height: 50vw;
    width: 50vw;
    background-color: gray;
    display: grid;
    /* grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px 100px 100px 100px 100px 100px; */

    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(8,1fr);
}

.white{
    /* height: 100px;
    width: 100px; */
    background-color: white;
}
.black{
    /* height: 100px;
    width: 100px; */
    background-color: black;
}