/* h1{
    background-color: aqua;
    color: rgb(39, 221, 160);
    /* text-align: center; */
    /* text-align: justify; */
/* } */ 

/* p{
    background-color: aquamarine;
     text-align: justify;
     /* when i write justify the whole para comes proper formet */
/* 
/* } */ 


/* .container{
    background-color: blanchedalmond;
    text-align: center;
}
h1{
    background-color: aquamarine;
}
p{
    background-color: yellow;
}
button{
    background-color: blue;
} */

/* jo block level element h usme jo contnet h vo center hoge h or p nhi.
or jo inline vale h pura button hi center me chla jayega mera  */



/* p{
    background-color: rgb(189, 150, 224);
    text-align-last: justify;
} */


/* 
h1{
    direction: rtl;  */
    /* iska mtlb hota h me padhuga right to left syug olleh */
    /* unicode-bidi: bidi-override; */
    /* jesa hi mena ye likha ab ye ulta bn gya jesa chaiye tha jesa urdu or arebic */
/* }   




/* span{
    vertical-align: sub;
} */


h1{
    /* text-decoration-line:overline; */

    /* text-transform: lowercase; */


}

p{
    /* text-indent: 20px;
    letter-spacing: 2px;
    line-height: 30px;  */

    /* text-shadow: 5px 5px; */
    /* now we discuss about box shadow */
}