*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
}
.container{
    background-color: blanchedalmond;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6rem;
}
.Box{
    height: 200px;
    width: 200px;
    background-color: olivedrab;
    font-size: 4rem;
    border: 5px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all;
    transition-duration: 2s;
    transition-timing-function:linear;
    
}
.Box:hover{
    /* transform: translate(400px,200px); */
    /* As soon as I hover over the box, it will move to the right side */
/* If only one value is given, it will move on the X-axis only */
/* The first value means X-axis, the second value means Y-axis.
   If you use a negative value, it will move upward */


    /* transform: scale(2,3); */
    /* it means size will double */
    /* x-aixs , y-axis */

    /* transform: rotate(-45deg); */


    /* transform: skew(-40deg); */

    /* transform: translate(200px,300px) scale(2,3) rotate(45deg); */

    /* transform: rotate(45deg);
    transform-origin:bottom right ; */


    transform: rotate(45deg);
    transform-origin:bottom right ;




}

