*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    padding: 4rem;
}
.container{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;

}
.Box{
    background-color: orange;
    font-size: 2rem;
    border: 5px solid black;
    height: 200px;
    width: 200px;
    transition: all;
    transition-duration: 2s;
    transition-timing-function:linear;
}

.Box1:hover{
    transform:rotatex(45deg);
}
.Box2:hover{
    transform:rotatey(45deg);
}
.Box3:hover{
    transform:rotatez(45deg);
}
.Box4:hover{
    transform:translatex(200px);
}
.Box5:hover{
    transform:translatey(200px);
}
.Box6:hover{
    transform: perspective(300px) translatez(200px);
}
.Box7:hover{
    transform:scalex(2);
}
.Box8:hover{
    transform:scaley(2);
}
.Box9:hover{
    transform: scalez(3);
}