.img1{
    height: 200px;
    width: auto;
    /* float: left; */
    float: right;
    /* margin-right: 10px; */
    margin-left: 20px;
    clear: left;
}
.img2{
     height: 200px;
    width: auto;
    float: right;
    margin-right: 20px;
    /* clear: right; */

}